.gradle
bin
build
target
.settings
.classpath
.project
*.iml
*.ipr
*.iws
*.log
metastore_db
.idea
/hdfs/data
/repository-hdfs/data/*
/mr/src/main/resources/esh-build.properties
/spark/keyvaluerdd.parquet
out/
localRepo/
.vscode
