.gradle
bin
build
target
.settings
.classpath
.project
*.iml
*.ipr
*.iws
*.log
metastore_db
.idea
/hdfs/data
/repository-hdfs/data/*
/mr/src/main/resources/esh-build.properties
/pig/tmp-pig/*
/spark/keyvaluerdd.parquet
/spark/sql-13/default_*
/spark/sql-13/with_meta_*
out/
localRepo/
